@charset "UTF-8";
/* CSS Document */

body {
	background-color: #FFFFFF;
	}
a{text-decoration: none;
}
#container{
	background-color: white;
    width: 1366px;
	margin-left: auto;
	margin-right: auto;	

}
#notes {
  position: relative;
  text-align: center;
  color:green;
  font-size: 44px;
  font-weight: bold;
}

#header {
	background-color: #FFFFFF;	
	color: green;
	text-align: center;
}

#content {
	padding:0px;
		
}

#nav {
	background-color: gray;
	width: 100%;
	height: 100px;
	
}

#nav ul {
	list-style-type: none;
	text-decoration: none;
	padding-left: 55px;
	text-align: center;
	float: left;
}

#nav ul li {
	float:left;
	position:relative;
	list-style:none;
}

#nav ul li a {
	display:block;
	color:white;
	font-size:44px;
	padding:7px 55px;
	text-decoration:none;
	font-weight:bold;
	}


#nav ul li ul {
	display: none;
	position: absolute;
	padding:10px;
	width: 335px;
	
}

#nav ul li:hover ul {
	display: block;
	position: absolute;
}

#nav ul li ul li {
	padding: 2px;
}

#nav ul li ul li a {
	width: 300px;
	border-radius: 4px;
}

#nav ul li ul li a:hover {
	background-color: #A39A9A;
}
#column 1 {
	column-width: 455px;
	
	
}

#column 2 {
	column-width: 455px;
}

#column 3 {
	column-width: 455px;
}

li {
  float: left;
}

li a {
  display: block;
  color: gray;
  background-color: #999999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#main {
	width: 550px;
	margin-top: -170px;
	float: right;
	}


#container2 {
	width: 1366px;
	column-count: 3;
	column-gap: 100px;
	column-rule-style: solid;
	column-rule-width:500px;
	
	column-rule: 0px solid green;
	text-align: center;
	margin-top: 50px;
}

#column 1 {
	column-width: 455px;
}

#column 2 {
	column-width: 455px;
}

#column 3 {
	column-width: 455px;
}

li {
  float: right;
}

li a {
  display: block;
  color: gray;
  background-color: #999999;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.btn {
  border: none;
  background-color: green;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

.learn more {color: black; font-weight: bold;}
.our story {color: black; font-witht: bold;}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.blog container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#container7{
	background-color: white;
    width: 1366px;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
	text-color: green;
	
}
#container4 {
	background-color: white;
	width: 1366px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	
}
#container3{
	background-color: white;
	width: 1366px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;

#footer {
		clear: both;
		padding-top: 150px;
	    padding-bottom: 50px;
		background-color: #999999;
		text-color: black;
		text-align: center;
	margin-top: 500px;
}



